* {
  margin: 0;
  padding: 0;
}

.link-active {
  background-color: blue;
  color: white;
  margin-left: 15px;
  padding: 10px 18px;
  font-size: 19px;
  border-radius: 5px;
  text-decoration: none;
}

.link-off {
  background-color: brown;
  color: white;
  margin-left: 15px;
  padding: 10px 18px;
  font-size: 19px;
  border-radius: 5px;
  text-decoration: none;
}

hr {
  margin-top: 28px;
}

nav {
  text-align: center;
  padding: 30px 0
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

button {
  padding: 10px 12px;
  font-size: 17px;
  cursor: pointer;
  background: linear-gradient(90deg, hsla(250, 75%, 31%, 1), hsla(350, 75%, 31%, 1));
  color: white;
  border: none;
  border-radius: 5px
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 15px;
  text-align: center;
}

.form-container {
  text-align: center;
}

.input-container {
  margin-bottom: 15px;
}

.input-container input {
  padding: 5px 0;
  font-size: 18px;
}

.input-container label {
  font-size: 18px;
  margin-right: 3px;
}